@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/*PADRÃO*/

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-size: 15px;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: hsl(240, 100%, 5%);
}

/* NAVBAR */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    color: hsl(235, 15%, 31%);
    cursor: pointer;
    font-weight: bold;
}

.nav-links li:hover {
   color: hsl(5, 82%, 48%);
}

/* MAIN */

.main-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    max-height: 750px;
}

.main-blog {
    grid-column: 2 span;
    grid-row: 1 span;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.blog-title {
    font-size: 3rem;
    color: hsl(240, 76%, 6%);
    width: 300px;
}

.blog-content {
    color: hsl(236, 100%, 15%);
    width: 350px;
    line-height: 1.5;
}

.blog-read {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-read button {
    background-color: hsl(5, 86%, 66%);
    border: none;
    color: hsl(36, 100%, 99%);
    width: 200px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}

.blog-read button:hover {
    background-color: hsl(236, 100%, 15%);
}

.new {
    grid-column: 1 span;
    grid-row: 1span;
    background-color: hsl(236, 100%, 15%);
}

.new-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.header {
    color: hsl(5, 97%, 42%);
    font-size: 2rem;
}

.new-blogs {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

.new-blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new-blog::after {
    content:"";
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: hsl(36, 100%, 99%);
}

.new-blog:last-child::after{
    display: none;
}

.new-title:hover {
    color: hsl(5, 97%, 42%);
}

.new-title {
    color: hsl(36, 100%, 99%);
    cursor: pointer;
    
}

.new-content {
    color: hsl(233, 8%, 79%);
}

.top-blogs {
    display: flex;
    grid-column: 3 span;
    grid-row: 1 span;
    gap: 1rem;
    justify-content: space-between;
}

.top-blog{
    display: flex;
    align-items: center;
    height: fit-content;
    
}

.top-title{
    cursor: pointer;
    color: hsl(236, 100%, 15%);
}
.top-title:hover{
    color: hsl(5, 86%, 66%);
}
.top-blog img{
    width: 150px;
}
.top-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    height: 127px;
}
.num{
    color: hsl(233, 50%, 25%);
    font-size: 2rem;
}
.top-content{
    color: hsl(235, 45%, 29%);
    
}
.menu{
    display: none;
}


/* MOBILE */

@media screen and (max-width:800px) {
body{
    align-items: flex-start;
}

nav{
    padding-inline: 1rem;
}
.nav-links{
    display: none;
}
.menu{
    display: flex;
}
.main-container{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
} 
.top-blogs{
    display: flex;
    flex-direction: column;
}
.blog-info{
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.blog-read{
    gap: 2rem;
    width: 100%;
}
.blog-title,.blog-content{
    width: 100%;
}
}